In [1]:
import numpy as np
import pandas as pd 

from helpers import convert_metadata, make_data_frame

# Demonstration of how to use the Helper Functions

## Setup

In [2]:
# Input
path_to_csv_of_metadata = "./example-metadata.csv"
seed = 42
sample_size = 100

# Output
path_out = "./example-generated-data.csv"

## Main Program

In [3]:
# Load in the data
md = pd.read_csv(path_to_csv_of_metadata)

# Convert the "lists of choices" from the CSV file from strings to lists
converted_metadata = convert_metadata(md)

# Instantiate the random number generator at the given seed
rng = np.random.default_rng(seed)

# Generate the data
df = make_data_frame(converted_metadata, rng, sample_size)
df.head()

,age,female,born_in_us,marital_status,housing_type,educ_3cat,smoke,body_temp,weight,height,htn,tibia_length,upper_waist_circ,grip_strength,adl_total,pulse,walk_quarter_mile,lift_carry_10,ldcw_time,chair_stand_score
0,75.914151,0,1,4,1,3,2,99.180777,71.639335,162.180156,1,47.738248,74.692847,29.243762,11,64.386158,0,1,394.581437,2
1,71.880048,1,1,3,3,3,3,98.543217,80.571982,163.468888,1,37.444475,92.294817,32.162972,14,64.079358,0,2,381.420217,2
2,77.251354,1,1,2,1,2,2,98.429592,86.986483,162.813452,0,37.140142,97.355831,30.309582,15,70.432528,2,3,382.636131,2
3,77.821694,1,1,3,3,1,1,97.820518,71.116926,181.862026,0,37.533381,93.743865,30.551979,16,71.635049,3,1,367.290735,2
4,69.146894,0,1,4,3,2,2,99.030301,72.812683,192.475617,1,44.444583,96.319815,27.958334,21,66.037371,0,1,404.738972,3

In [4]:
# Write to disk
df.to_csv(path_out, index = False)